/* --------------------------
�����: Wintro
����: http://wintro.ru/
----------------------------*/

body {
/*    background: #FFFFFF; *//* ���� ���� �������� *//*
    font-family: Tahoma; 
    font-size: 13px; *//* ������ ������ ������ *//*
    color: #303030;
    font-weight: none;
    border: none;*/
    line-height: 1.6em;
}
   
h1 {
    color: #CCCC99; /* ���� ��������� */
    font-family: Arial;
    font-size: 130%; /* ������ ������ ��������� */
    font-weight: bold;
    text-align: center; 
    border: none;
}

a {
    font-size:13px; /* ������ ������ ������ � ������ */
    color:#01b101; /* ���� ������ � ������ */
    text-decoration:none;
}

a:hover {
    font-size:13px; /* ������ ������ ������ � ������ ��� ��������� ������� */
    color:#006400; /* ���� ������ � ������ ��� ��������� ������� */
    text-decoration:none;
}


#menu{
	list-style:none;
        text-indent:22px; 
}


#menu li{
	list-style:none;
	display:block;
	
        font-family: Arial;
	width:100%;
}

#menu li a{
	list-style:none;
	display:block;
	color:#01b101;	/* ���� ������ � ���� */
	font-size:14px; /* ������ ������ ������ � ���� */
	text-decoration:none;
	height:41px;
	line-height:41px;
}

#menu li a:hover{
		height:41px;
	line-height:41px;
	color:#00CC33;  /* ���� ������ � ���� ��� ��������� ������� */
	text-decoration:none;
        width:100%;
}
					
.current {
	list-style:none;
	display:block;
	background:url(images/menu_t.png) no-repeat;
	color:#01b101; /* ���� ������� "����" */
	text-transform:uppercase;
	font-size:16px;
	text-decoration:none;
        text-indent:90px;
        font-weight: bold;
	height:41px;
	line-height:41px;			
}

.cur {
	list-style:none;
	display:block;
	background:url(images/menu_n.png) no-repeat;
	color:#000000;
	text-transform:uppercase;
	font-size:16px;
	text-decoration:none;
        text-indent:90px;
        font-weight: bold;
	height:41px;
	line-height:41px;			
}




#niz { 
	padding:0px; 
	width:1000px; 
	height:70px; 
	background-image:url(images/niz.png);

}

#up { 
	padding:0px; 
	width:1000px; 
	height:100px; 
	background-image:url(images/2.jpg);
}

.image {
	list-style:none;
        text-indent:50px;
        margin-top:70px;
        float:left;
        overflow:hidden;
}

.hot {
	list-style:none;
        margin-top:1px;
        float:right;
        overflow:hidden;
}

.hot {
	list-style:none;
        margin-top:1px;
        float:right;
        overflow:hidden;
}

#kn{
	width:100%;
	height:100px;

}

#kn ul{
	width:80%;
	margin:0 auto;
	list-style:none;
}

#kn li{
	list-style:none;
	display:block;
	float:left;
	font-size:11px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	margin:0 5px;
}

#kn li a{
	display:block;
	float:left;
	height:30px;				
	color:#000000; /* ���� ������ ��������������� ���� */
	text-decoration:none;
	text-transform:uppercase;
	padding:0 20px;		
}

#kn li a:hover{	
	background:url(images/fm_hover_bg.jpg) repeat-x;
	color:#CCCCCC; /* ���� ������ ��������������� ���� ��� ��������� ������� */
}
					
#kn li .current{
	display:block;
	float:left;
	height:30px;								                ;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	padding:0 20px;		
}


#hor-minimalist-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-a th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
    color: #669;
    padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
    color: #009;
}

#box-table-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#box-table-a th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}
#box-table-a td
{
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
    background: #d0dafd;
    color: #339;
}
